footer.main-footer
  .row
    .medium-4.small-12.columns
      h5 Kontakt os
      ul
        li
          strong National Videncenter for laesning
          strong Titangade 11
          strong DK-2200 København N
        li
          strong +45 41 89 90 90
          strong: a(mailto:info@videnomlaesning.dk) info@videnomlaesning.dk
        li
          strong EAN 5798000560529
          strong EAN 5798000560529

    <! --.columns -->
    .medium-4.small-12.columns
      h5 CENTRET DRIVES I ET SAMARBEJDE MELLEM
      a.link--highlighted(href="#") Metropol
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
    <! --.columns -->
    
    .medium-4.small-12.columns
      h5 Links
      a.link--highlighted(href="#") Metropol
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
      a.link--highlighted(href="#") University College
    <! --.columns -->
  <! --.row -->
<!--footer -->