head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
  title Viden om Laesning
  link(rel="stylesheet" href="css/app.css")

  script(src="bower_components/modernizr/modernizr.js")
<!-- head -->
