.intro__wrapper
  .logo__wrapper
    .logo
      a(href="index.html")
        img.img--advanced(src="images/logo.svg" alt="Viden om Laesning")
        img.img--simple(src="images/logo.png" alt="Viden om Laesning")

  .intro.intro--small.js-intro
    <!-- @TODO Video items are shown only on large screens -->
    li
      img.intro__image(src="images/content/intro.jpg")
        
    li.hide-for-small-only
      img.intro__image(src="images/content/intro.jpg")

          
  <!-- .intro -->
<!-- .intro-wrapper -->
