
.nav-section.js-nav-section
  .row
    .small-12.columns
      a(href="#").js-menu-trigger.menu-trigger.show-for-small-only

      ul.main-nav.hide-for-small-only
        li.active: a(href="events.html") Aktuelt
        li.multi-columns
          a(href="videnom.html") Viden om
          ul.sub-menu
            li
              a(href="#") Column 1
              ul.sub-menu
                li: a(href="#") Didaktik
                li: a(href="#") Laeseteknologie
                li: a(href="#") Numeracy
                li: a(href="#") Indskoling
            li
              a(href="#") Column 2
              ul.sub-menu
                li: a(href="#") Emne 5
                li: a(href="#") Emne 6
                li: a(href="#") Emne 7
                li: a(href="#") Emne 8
            li
              a(href="#") Column 3
              ul.sub-menu
                li: a(href="#") Emne 9
                li: a(href="#") Emne 10
                li.link--all: a(href="#") Alle emner

        li: a(href="projects.html") Projekter

        li
          a(href="magazines.html") Tidsskrift
          ul.sub-menu
            li: a(href="#") Flersprogede børns læsning og laering
            li: a(href="#") Skole i hjem - Hjem i skole
            li: a(href="#") Med strøm på...
            li.link--all: a(href="#") Alle tidsskrifter

        li: a(href="about-us.html") Om os

      form.form--search.right(method="get")
        input(type="text" placeholder="Søg")
        i(class="fa fa-search")

<!-- .nav-section -->
