.side-navigation.overflow-hidden
    ul.side-navigation--primary.clearfix
      li.active: a(href="events.html") Aktuelt

      li.menu-item-has-children.multi-columns
        a(href="videnom.html") Viden om
        ul.sub-menu
          li
            a(href="#") Column 1
            ul.sub-menu
              li: a(href="#") Didaktik
              li: a(href="#") Laeseteknologie
              li: a(href="#") Numeracy
              li: a(href="#") Indskoling
          li
            a(href="#") Column 2
            ul.sub-menu
              li: a(href="#") Emne 5
              li: a(href="#") Emne 6
              li: a(href="#") Emne 7
              li: a(href="#") Emne 8
          li
            a(href="#") Column 3
            ul.sub-menu
              li: a(href="#") Emne 9
              li: a(href="#") Emne 10
              li.link--all: a(href="#") Alle emner
      li: a(href="projects.html") Projekter
      li.menu-item-has-children
        a(href="magazine.html") Tidsskrift
        ul.sub-menu
          li: a(href="#") Flersprogede børns læsning og laering
          li: a(href="#") Skole i hjem - Hjem i skole
          li: a(href="#") Med strøm på...
          li.link--all: a(href="#") Alle tidsskrifter

      li: a(href="about-us.html") Om os

    ul.side-navigation--contacts
        li
            strong National Videncenter for Laesning
            strong Titangade 11
            strong DK-2200 København N

        li
            a(href="tel:+4541899090") +45 41 89 90 90
            a(href="info@videnomlaesning.dk") info@videnomlaesning.dk
            
    
        
