script(src="bower_components/jquery/dist/jquery.min.js")
	
script(src="bower_components/foundation/js/foundation.min.js")
script(src="bower_components/foundation/js/foundation/foundation.equalizer.js")
script(src="bower_components/foundation/js/foundation/foundation.accordion.js")
script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
script(src="bower_components/foundation/js/foundation/foundation.abide.js")

script(src="bower_components/bxslider-4/src/vendor/jquery.fitvids.js")
script(src="bower_components/bxslider-4/dist/jquery.bxslider.min.js")
script(src="js/app.js")
	


