<!doctype html>
html(class="no-js" lang="en")
  include includes/_head
  body
    include includes/_mobile-nav

    .content-wrapper
      include includes/_intro
      include includes/_main-nav

      .row
        .medium-8.small-12.columns
          .introduction
            h4.title--uppercase Kalender
            h1 Deltag i vores arrangementer
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia  Siden centret blev etableret i 2006 har vi gennemført ﬂere projekter. Alle med læsning, skrivning og sprog som omdrejningspunkt. Her kan du læse mere om de projekter.

      .row
        .medium-8.columns
          .main-content.mt-30.clearfix
            h4.title--light.mb-15 VORES ARRANGEMEnter
            .row.mt-0(data-equalizer="row-1" data-equalizer-mq="medium-up")
              .medium-6.small-12.columns
                article.article(data-equalizer-watch="row-1")
                  header.article__header 8. SEPTEMBER 2015, KØBENHAVN
                  h3.title--highlighted Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs mere og timeld dig

              .medium-6.small-12.columns
                article.article(data-equalizer-watch="row-1")
                  header.article__header 22. Oktober 2015, KØBENHAVN
                  h3.title--highlighted Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#") Læs mere og timeld dig

            .row(data-equalizer="row-2" data-equalizer-mq="medium-up")
              .medium-6.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Project
                  h3.title--highlighted Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs mere og timeld dig

              .medium-6.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Project
                  h3.title--highlighted Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#") Læs mere og timeld dig

          .row
            .small-12.columns.mt-30
              h4.title--light.mb-15 VORES Afholdte ARRANGEMEnter

              article.article.article--event
                header.article__header 8. SEPTEMBER 2015, KØBENHAVN
                h3.title--highlighted Støt dit barn i arbejdet med skolens 
                a.link--highlighted(href="#") Læs mere

              article.article.article--event
                header.article__header 22. Oktober 2015, KØBENHAVN
                h3.title--highlighted Den gode opgave 
                a.link--highlighted(href="#") Læs mere

              article.article.article--event
                header.article__header Project
                h3.title--highlighted Støt dit barn i arbejdet med skolens tekser
                a.link--highlighted(href="#") Læs mere

              article.article.article--event
                header.article__header Project
                h3.title--highlighted Den gode opgave 
                a.link--highlighted(href="#") Læs mere

            <!-- .small-12.columns -->
          <!-- .row -->
          .row
            .small-12.columns
              .pagination
                ul
                  li.current: a(href="#") 1
                  li: a(href="#") 2
                  li: a(href="#") 3
                  
        <!-- .large-8.columns -->
        .medium-4.columns
          .sidebar.mt-30
            section.calendar
              h4.title--light ARRANGEMENTER AF andre
              .calendar__info.calendar__info--simplified
                ul
                  li: a(href="#")
                    em FLERE DATOER, KØBENHAVN & AARHUS
                    p IT og læse- og skrivevanskeligheder –  Status for Literacy 2015
                  li: a(href="#")
                    em 28. SEPTEMBER 2015, TRONDHEIM
                    p NTAW – Nordic Symposium on Status for Literacy 2015
                  li: a(href="#")
                    em 1. OKTOBER 2015, Roskilde
                    p Status for Literacy 2015

            <!-- section -->
      <!-- .row -->

      include includes/_footer
    <!-- content-wrapper -->
    include includes/_scripts

  <!-- body -->

