<!doctype html>
html(class="no-js" lang="en")
  include includes/_head
  body
    include includes/_mobile-nav

    .content-wrapper
      include includes/_intro
      include includes/_main-nav

      .row
        .medium-8.small-12.columns
          .introduction
            h4.title--uppercase Projekter
            h1 Fokus på læsning, skrivning og sprog
            p Siden centret blev etableret i 2006 har vi gennemført ﬂere projekter. Alle med læsning, skrivning og sprog som omdrejningspunkt. Her kan du læse mere om de projekter.

      .row
        .small-12.columns
          .main-content.clearfix
            .row
              .small-12.columns
                h4.title--light Aktuelle
            .row(data-equalizer="row-1" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article.article--current(data-equalizer-watch="row-1")
                  .article__badge I Gang
                  header.article__header Project
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om projektet


              .medium-4.small-12.columns
                article.article.article--current(data-equalizer-watch="row-1")
                  .article__badge I Gang
                  header.article__header Project
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om projektet

              .medium-4.small-12.columns
                article.article.article--current(data-equalizer-watch="row-1")
                  .article__badge I Gang
                  header.article__header Project
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om projektet

            .row
              .medium-4.columns
                h4.title--light.mtmu-14.mtsm-30 Afsluttede
              .medium-4.medium-offset-4.small-12.columns
                form.filter(method="get")
                  label Filtrer
                  .select--custom
                    select
                      option(value="volvo") Vaelg emne
                      option(value="saab") News
                      option(value="mercedes") Mercedes
                      option(value="audi") Audi

            .row(data-equalizer="row-2" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Project
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om projektet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Project
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om projektet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Project
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om projektet

            .row(data-equalizer="row-3" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Project
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om projektet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Project
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om projektet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Project
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om projektet
            <!-- .row -->
        <!-- .small-12.columns -->
      <!-- .row -->

      .row
        .small-12.columns
          .pagination
            ul
              li.current: a(href="#") 1
              li: a(href="#") 2
              li: a(href="#") 3

      include includes/_footer
    <!-- content-wrapper -->
    include includes/_scripts

  <!-- body -->

