<!doctype html>
html(class="no-js" lang="en")
  include includes/_head
  body
    include includes/_mobile-nav

    .content-wrapper
      include includes/_intro
      include includes/_main-nav

      .row
        .medium-8.columns
          .introduction
            h4.title--uppercase SØGERESULTat
            h1 Du har søgt på “grundskole”

      .row
        .medium-8.columns
          .main-content.clearfix
            article.article--search
              a(href="#"): h3 Skrivedidaktik - laerer til laerer
              p Maecenas id placerat urna. Nulla commodo condimentum nulla ut tempus. Integer dui elit, cursus non neque quis
            article.article--search
              a(href="#"): h3 Mauris in feugiat neque. Aliquam non mattis
              p Phasellus venenatis lectus id arcu iaculis, ac egestas lectus condimentum. Sed ut eros libero. Nunc commodo id libero ac sagittis.
            article.article--search
              a(href="#"): h3 Phasellus laoreet vulputate interdum.
              p Sed ut eros libero. Nunc commodo id libero ac sagittis. dignissim tellus et pharetra. Maecenas convallis 
            article.article--search
              a(href="#"): h3 Skrivedidaktik - laerer til laerer
              p Maecenas id placerat urna. Nulla commodo condimentum nulla ut tempus. Integer dui elit, cursus non neque quis
            article.article--search
              a(href="#"): h3 Mauris in feugiat neque. Aliquam non mattis
              p Phasellus venenatis lectus id arcu iaculis, ac egestas lectus condimentum. Sed ut eros libero. Nunc commodo id libero ac sagittis.
            article.article--search
              a(href="#"): h3 Phasellus laoreet vulputate interdum.
              p Sed ut eros libero. Nunc commodo id libero ac sagittis. dignissim tellus et pharetra. Maecenas convallis 

            <!-- .row -->
        <!-- .small-12.columns -->
      <!-- .row -->

      .row
        .small-12.columns
          .pagination
            ul
              li.current: a(href="#") 1
              li: a(href="#") 2
              li: a(href="#") 3

      include includes/_footer
    <!-- content-wrapper -->
    include includes/_scripts

  <!-- body -->

