<!doctype html>
html(class="no-js" lang="en")
  include includes/_head
  body.home
    include includes/_mobile-nav
    .content-wrapper
      include includes/_intro
      include includes/_main-nav

      .row
        .small-12.columns
          section.pt-55
            h4.title--topic Om os
            h1 Centrets medarbejdere

            .row
              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-1")
                  .profile__image(data-equalizer-watch="column-1")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-1")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-2")
                  .profile__image(data-equalizer-watch="column-2")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-2")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-3")
                  .profile__image(data-equalizer-watch="column-3")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-3")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling og partnerskaber.
      
              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-1")
                  .profile__image(data-equalizer-watch="column-1")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-1")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-2")
                  .profile__image(data-equalizer-watch="column-2")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-2")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-3")
                  .profile__image(data-equalizer-watch="column-3")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-3")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling og partnerskaber.
           
              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-1")
                  .profile__image(data-equalizer-watch="column-1")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-1")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-2")
                  .profile__image(data-equalizer-watch="column-2")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-2")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-3")
                  .profile__image(data-equalizer-watch="column-3")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-3")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling og partnerskaber.
          
              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-1")
                  .profile__image(data-equalizer-watch="column-1")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-1")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.

              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-2")
                  .profile__image(data-equalizer-watch="column-2")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-2")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling, forskning og presseudtalelser.


              .large-4.medium-6.columns
                .profile.profile--expanded(data-equalizer="column-3")
                  .profile__image(data-equalizer-watch="column-3")
                    img(src="images/content/profile.jpg")
                  .profile__content(data-equalizer-watch="column-3")
                    h5 FAGLIG konsulent
                    em Henriette Romme Lund
                    a.link--simplified(href="tel:+4541897186") +45 41 89 71 86
                    a(href="mailto:hrlu@ucc.dk" ) hrlu@ucc.dk
                    p Projektudvikling og partnerskaber.

        <!-- .small-12.columns -->
      <!-- .row -->

      include includes/_footer
    <!-- content-wrapper -->

    include includes/_scripts
  <!-- body -->
