<!doctype html>
html(class="no-js" lang="en")
  include includes/_head
  body
    include includes/_mobile-nav

    .content-wrapper
      include includes/_intro
      include includes/_main-nav

      .row
        .medium-8.small-12.columns
          .introduction
            h4.title--uppercase Viden om
            h1 Læsning handler om mere end ABC
            p Viden om læsning i alle livets faser. Du kan ﬁltrere på anvendelsessted og kun få viden om læsning i alle livets faser. Nam congue ante nec vehicula bibendum. Fusce sed viverra tortor. Fusce eros nunc, luctus sed mi eu, vehicula euismod est. Ut non lacinia tellus.

        .medium-4.medium-offset-8.small-12.columns
          form.filter.mt-35(method="get")
            label Filtrer
            .select--custom
              select
                option(value="volvo") Vaelg emne
                option(value="saab") News
                option(value="mercedes") Mercedes
                option(value="audi") Audi

      .row
        .small-12.columns
          .main-content.clearfix
            .row(data-equalizer="row-1" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-1")
                  header.article__header Emne
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om emnet


              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-1")
                  header.article__header Emne
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om emnet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-1")
                  header.article__header Emne
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om emnet


            .row(data-equalizer="row-2" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Emne
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om emnet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Emne
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om emnet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-2")
                  header.article__header Emne
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om emnet

            .row(data-equalizer="row-3" data-equalizer-mq="medium-up")
              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Emne
                  h3 Støt dit barn i arbejdet med skolens tekser
                  p Barn i arbejdet med teksterne fra skolen. barn i arbejdet med teksterne fra skolen.
                  a.link--highlighted(href="#") Læs om emnet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Emne
                  h3 Den gode opgave
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida.  
                  a.link--highlighted(href="#")   Læs om emnet

              .medium-4.small-12.columns
                article.article(data-equalizer-watch="row-3")
                  header.article__header Emne
                  h3 Hjælp med læseteknologi under uddannelse
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis nunc id gravida. 
                  a.link--highlighted(href="#")   Læs om emnet
            <!-- .row -->
        <!-- .small-12.columns -->
      <!-- .row -->

      .row
        .small-12.columns
          .pagination
            ul
              li.current: a(href="#") 1
              li: a(href="#") 2
              li: a(href="#") 3

      include includes/_footer
    <!-- content-wrapper -->
    include includes/_scripts

  <!-- body -->

