/*=========================================================

  SPACING

  01. #MARGIN TOP

  02. #MARGIN BOTTOM

  03. #PADDING TOP

=========================================================*/

/*=======================================================
   01. #MARGIN TOP
//=======================================================*/

.mt-0 {
	margin-top: 0 !important;
}

.mt-15 {
	margin-top: rem-calc(15) !important;
}

.mt-20 {
	margin-top: rem-calc(20);
}

.mt-30 {
	margin-top: rem-calc(30);
}

.mt-35 {
	margin-top: rem-calc(35);
}

.mt-45 {
	margin-top: rem-calc(45);
}

.mtmu-14 {
	@media #{$medium-up} {
		margin-top: rem-calc(14) !important;
	}
}

.mtlg-45 {
	@media #{$large-up} {
		margin-top: rem-calc(45) !important;
	}
}


.mtmd-45 {
	@media #{$medium-only} {
		margin-top: rem-calc(45) !important;
	}
}

.mtmd-20 {
	@media #{$medium-only} {
		margin-top: rem-calc(20) !important;
	}
}

.mtsm-30 {
	@media #{$small-only} {
		margin-top: rem-calc(30) !important;
	}
}

.mtsm-20 {
	@media #{$small-only} {
		margin-top: rem-calc(30) !important;
	}
}

.mtmd-20 {
	@media #{$medium-down} {
		margin-top: rem-calc(20) !important;
	}
}

/*=======================================================
   02. #MARGIN BOTTOM
//=======================================================*/

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-15 {
	margin-bottom: rem-calc(15) !important;
}

/*=======================================================
   03. #PADDING TOP
//=======================================================*/

.pt-55 {
	padding-top: rem-calc(55);
}
